.old-assessment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 388px;
    min-height: 209px;
    padding: 30px;
    border-radius: 12px;
    border: 1px dotted #DADCE0;
    gap: 16px;

    .top {
        display: flex;
        justify-content: space-between;
        min-width: 356px;
        min-height: 109px;

        .main-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .icon-container {
                width: 50px;
                height: 50px;
                padding: 15px 14.9px 15px 14px;
                border-radius: 12px;
                background-color: #6448ee31;

                .icon {
                    display: flex;
                    align-items: center;
                    color: #6548EE;

                }
            }

            .text-container {
                display: flex;
                flex-direction: column;
                gap: 2px;

                .label {
                    font-size: 18px;
                    font-weight: 500;
                    text-align: left;

                    color: #1C4980;
                }

                .small-text {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .job {
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        color: #1C4980;
                    }

                    hr {
                        border-right: 1px solid black;
                    }

                    .date-container {
                        font-size: 12px;
                        font-weight: 500;
                        text-align: left;
                        color: #8DA4BF;
                    }
                }
            }

        }

        .three-dots {}

    }

    hr {
        border: 1px dotted #DADCE0;
        width: 356px;
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 14px;
        min-width: 356px;
        min-height: 36px;


        .left {
            display: flex;
            align-items: center;
            gap: 14px;
            justify-content: flex-start;

            .duration {

                display: flex;
                flex-direction: column;

                .label {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    font-weight: 500;
                    text-align: left;
                    color: #1C4980;
                }

                .number {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: left;
                    color: #1C4980;

                }
            }

            .questions {
                display: flex;
                flex-direction: column;

                .label {
                    font-size: 12px;
                    font-weight: 500;
                    text-align: left;
                    color: #1C4980;
                }

                .number {
                    font-size: 14px;
                    font-weight: 600;
                    text-align: left;
                    color: #1C4980;
                }

            }

        }

        .right {
            display: flex;
            align-items: center;
            gap: 10px;

            .share-container {
                display: flex;
                min-width: 77px;
                min-height: 30px;
                padding: 2px 8px 2px 6px;
                border-radius: 50px;
                border: 1px solid #1C4980;
                gap: 4px;

                .icon {
                    color: #1C4980;
                }

                .label {
                    display: flex;
                    align-items: center;
                    color: #1C4980;
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: left;

                }


            }

            .user-container {
                display: flex;
                width:30px;
                height:30px;
                padding: 5px 6px 5px 6px;
                border-radius: 50%;
                border: 1px solid #6548EE;
                gap: 10px;
                background-color: #6548EE;
                .text{
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                    font-weight: 700;
                }



            }
        }

    }
}