.new-assessment {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 388px;
    min-height: 209px;
    padding: 30px;
    border-radius: 12px;
    border: 1px dotted #DADCE0;
    gap: 12px;
    background-color: #F6F8FA;

    .upload-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 150px;
        min-height: 102px;
        gap: 10px;

        .label {
            color: #1C4980;
            font-size: 18px;
            font-weight: 500;
            text-align: center;

        }

        .icon-container {
            min-width: 70px;
            min-height: 70px;
            padding: 10px;
            border-radius: 72px;
            gap: 10px;
            background-color: white;

            .icon {
                margin-left: 15%;
                margin-top: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #0073E6;

                min-width: 40px;
                min-height: 40px;
            }
        }

        .content {
            color: #1C4980;
            font-size: 12px;
            font-weight: 500;
            text-align: center;

        }

    }
}